
services:
  ha_audio_backend:
    build: .

    restart: unless-stopped

    command: ["python", "main.py"]

    env_file:
      - .env

    volumes:
    - ./models:/app/models
    - ./database_instance:/app/database_instance
    - ./seeders:/app/seeders
    - ./alembic:/app/alembic

    network_mode: host