
services:
  ha_text_to_action_backend:
    build:
      context: .
      args:
        CUDA_ARCH: ${CUDA_ARCH:-75}

    restart: unless-stopped
    entrypoint: ["sh", "-lc", "alembic upgrade head && python run_seeders.py && exec python main.py"]

    env_file:
      - .env

    volumes:
    - ./models:/app/models
    - ./database_instance:/app/database_instance
    - ./logs:/app/logs

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    network_mode: host